body {
  background-color: #00FF00;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
}

li {
   float:left;
}

li {
    display: block;
    color: #000;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
}
 li a:hover {
   background-color:#D3D3D3;
}
 li a {
   margin:10px; 
}
 h1 {text-align: center;
    height:100px;
}
 p {text-align: center;
   height:18px
}
